<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154307917586-kue1qp25oe5pd80030o53ucvl0a7qu8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154307917586-kue1qp25oe5pd80030o53ucvl0a7qu8t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>154307917586-0ehdaf5dblreni73b7371k0l0lllfvel.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7poXzNjqblz1JSE8qGVHC44U6WljEB2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>154307917586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ensc.poulpapp</string>
	<key>PROJECT_ID</key>
	<string>poulpapp</string>
	<key>STORAGE_BUCKET</key>
	<string>poulpapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154307917586:ios:e5b524fa7f5d955fef25cb</string>
	<key>DATABASE_URL</key>
	<string>https://poulpapp.firebaseio.com</string>
</dict>
</plist>